* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #F3E8D0;
    color: #2E5E3B;
}

header {
    background: #2E5E3B;
    color: white;
    padding: 15px 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 18px;
    font-weight: bold;
}

.admin-btn {
    background: #D8B07B;
    color: #2E5E3B;

    padding: 10px 15px;

    border-radius: 12px;

    text-decoration: none;

    font-weight: bold;
}

/* =========================================
BANNER
========================================= */

.banner-dinamico {

    position: relative;

    height: 320px;

    overflow: hidden;

    border-radius: 0 0 30px 30px;

    margin-bottom: 25px;
}

.banner-image {

    width: 100%;

    height: 100%;

    object-fit: cover;

    position: absolute;

    top: 0;
    left: 0;
}

.banner-overlay {

    position: absolute;

    width: 100%;
    height: 100%;

    background: linear-gradient(
        rgba(0,0,0,0.35),
        rgba(0,0,0,0.65)
    );

    z-index: 1;
}

.banner-content {

    position: relative;

    z-index: 2;

    height: 100%;

    display: flex;

    flex-direction: column;

    justify-content: end;

    padding: 25px;

    color: white;
}

.banner-logo-area {

    margin-bottom: 15px;
}

.banner-logo {

    width: 85px;

    height: 85px;

    object-fit: cover;

    background: white;

    padding: 10px;

    border-radius: 20px;
}

.banner-texts h1 {

    font-size: 30px;

    margin-bottom: 10px;
}

section {
    padding: 20px;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card,
.admin-card,
.evento-card,
.aviso-card {

    background: white;

    padding: 20px;

    border-radius: 18px;

    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.card img,
.admin-card img {

    width: 100%;

    border-radius: 14px;

    margin-bottom: 10px;
}

.admin {
    padding: 20px;
}

.admin-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.admin-section {
    background: white;
    padding: 20px;
    border-radius: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input,
button {

    padding: 14px;

    border-radius: 12px;

    border: none;
}

button {

    background: #2E5E3B;

    color: white;

    font-weight: bold;

    cursor: pointer;
}

.remove-btn {
    background: #B23B3B;
}

footer {

    background: #2E5E3B;

    color: white;

    text-align: center;

    padding: 20px;

    margin-top: 30px;
}